:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color:	rgb(56,56,56);
}

.videoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  min-height: 90vh;
  min-width: 100vw;
}

.imageBackground {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(20%);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  background-color: rgb(16,16,16);
  color: white;
}

.navText {
  font-size: 1.2rem;
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.AppText {
  color: white;
  font-weight: bold;
}

.listMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.listFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.listAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.filterBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.filterName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.filterRating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

hr {
  color: white;
}